<%= form_for(@raw_material) do |f| %>
  <% if @raw_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raw_material.errors.count, "error") %> prohibited this raw_material from being saved:</h2>

      <ul>
      <% @raw_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nama Bahan' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity, 'Kuantiti' %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit, 'Unit' %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :per_unit_price, 'Harga Seunit' %><br>
    <%= f.text_field :per_unit_price %>
  </div>
  <div class="field">
    <%= f.label :supplier, 'Pembekal' %><br>
    <%= f.text_field :supplier %>
  </div>
  <div class="actions">
    <%= f.submit 'Tambah Baru' %>
  </div>
<% end %>
