<header class="navbar navbar-inverse">
	<div class="container">
		<%= link_to "Kg Aji", '#', id: "logo", class: "navbar-brand"%>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Laman Utama", root_path %></li>

				<%if current_user %>
						<li><%= link_to "Edit", edit_user_registration_path %></li>
						<li><%= link_to 'Keluar', destroy_user_session_path, method: :delete %></li>
					<%else%>
						<li><%= link_to "Daftar", new_user_registration_path %></li>
						<li><%= link_to "Log Masuk", new_user_session_path %></li>
					<%end%>
			</ul>
		</nav>
	</div>
</header>